@import url("./util.css");

@import url("./header.css");

@import url("./aboutSection.css");

@import url("./trainers.css");

@import url("./callToAction.css");

@import url("./footer.css");

@import url("./pageHero.css");
