/* ------------------------ call to action ------------------------ */
.call-to-action{
    padding-block:40px;
    position:relative;
    z-index:1;
    height:400px;
}


.call-to-action > div:first-of-type{
    background-color:rgba(0,0,0,0.7);
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.call-to-action-content{
    display:flex;
    grid-column:2/3;
    flex-direction:column;
    gap:40px;
    z-index:1;
    align-self:center;
}

.call-to-action-content > span{
    font-size:2rem;
    color:var(--white);
}

.call-to-action-content > p{
    font-size:1.1rem;
    line-height:1.6;
    color:var(--primary-lighter-plus);
    max-width:700px;
}

.call-to-action-content > a{
    border:1px solid var(--primary-light);
    padding:15px;
    background-color:var(--white);
    color:var(--primary-light);
    align-self:start;
}



