@import url("./util.css");

@import url("./header.css");

@import url("./homeHero.css");

@import url("./footer.css");

@import url("./aboutSection.css");

@import url("./services.css");

@import url("./classesSection.css");

@import url("./trainers.css");

@import url("./callToAction.css");

@import url("./testimonials.css");

@import url("./pricing.css");


