/* ------------------------ page hero ------------------------ */
.page-hero{
    height:400px;
    position:relative;
    padding-block:40px;
}

.page-hero > div:first-of-type{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
}

.page-hero-content{
    grid-column:2/3;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1;
}
