/* ------------------------ services ------------------------ */
.services{
    padding-block:40px;
}

.service-content{
    grid-column:2/3;
    display:grid;
    grid-template-columns:auto 400px;
    gap:30px;
}

.service-image-wrapper{
    position:relative;
    aspect-ratio:4/5;
}

.service-list{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.service-item{
    display:flex;
    flex-direction:column;
    gap:15px;
    background-color:var(--black);
    border-top:5px solid var(--primary-light);
    padding:10px;
    box-shadow:3px 3px 8px;
}

.service-item > span{
    color:var(--white);
    font-size:1.2rem;
}

.service-item > p{
    color:var(--grey-lighter);
    line-height:1.6;
}

@media(max-width:900px){

    .service-image-wrapper{
        display:contents;
        position:initial;
    }

    .service-content{
        position:relative;
        grid-template-columns:auto;
        padding:40px;
    }

    .service-list{
        display:grid;
        grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
        z-index:1;
    }

}

