/* ------------------------ testimonials ------------------------ */
.testimonials{
    padding-block:40px;
}

.testimonial-content{
    grid-column:2/3;
    display:flex;
    flex-direction:column;
    gap:40px;
}

.testimonial-list{
    display:grid;
    grid-template-columns:auto;
    overflow:hidden;
}

.testimonial-item{
    grid-column:1/-1;
    grid-row:1/2;
    display:flex;
    flex-direction:column;
    gap:30px;
    align-items:center;
    position:relative;
}

.testimonial-image-wrapper{
    position:relative;
    height:60px;
    width:60px;
    border-radius:100%;
    overflow:hidden;
}

.testimonial-item > p{
    font-size:1.5rem;
    text-align:center;
    color:var(--grey-lighter);
    line-height:1.6;
}

.testimonial-item > span:first-of-type{
    font-size:1.3rem;
    color:var(--primary);
}

.testimonial-item > span:last-of-type{
    font-size:1.1rem;
    color:var(--primary-lighter);
}

.testimonial-control{
    display:flex;
    gap:20px;
    align-self:center;
}

.testimonial-control > button{
    padding:15px;
    background-color:var(--primary);
    color:var(--primary-lighter-plus);
}

