/* -------------------------- newsletter -------------------------- */

.newsletter-section{
    padding-block:40px;
}

.newsletter-body{
    grid-column:2/3;
    display:flex;
    flex-direction:column;
    gap:30px;
}

.newsletter-body > span{
    font-size:3rem;
    color:var(--primary-light);
}

.newsletter-body > input{
    padding:10px;
    color:var(--primary-lighter);
    border-radius:5px;
    border:1px solid var(--primary);
    max-width:600px;
}

.newsletter-body > input::placeholder{
    color:var(--primary-lighter)
}

.newsletter-body > button{
    padding:15px;
    background-color:var(--primary);
    color:var(--primary-lighter);
    align-self:start;
    border-radius:5px;
}

