/* -------------------------- product -------------------------- */
.testimonial-section{
    padding-block:40px;
}

.testimonial-body{
    grid-column:2/3;
    display:flex;
    flex-direction:column;
    gap:30px;
}

.testimonial-body > span{
    font-size:3rem;
    color:var(--primary);
    text-align:center;
}

.testimonial-list{
    display:grid;
    gap:20px;
}

.testimonial-item{
    display:flex;
    flex-direction:column;
    gap:10px;
    background-color:var(--primary);
    padding:20px;
}

.testimonial-item > p{
    line-height:1.6;
    color:var(--white);
    font-size:1.1rem;
}

.testimonial-item-image{
    position:relative;
    aspect-ratio:4/5;
    border-radius:10px;
    overflow:hidden;
}

.testimonial-item-image > img{
    top:0;
    left:0;
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
}

.testimonial-item > span:first-of-type{
    font-size:1.5rem;
    color:var(--primary-light);
}

.testimonial-item > span:last-of-type{
    color:var(--primary-lighter-plus);
}


