/* -------------------------- util -------------------------- */

:root{
    --primary:hsl(300, 100%, 20%);
    --primary-light:hsl(300, 100%, 40%);
    --primary-lighter:hsl(300, 100%, 60%);
    --primary-lighter-plus:hsl(300, 100%, 80%);
    --black:hsl(0, 0%, 0%);
    --grey:hsl(0, 0%, 20%);
    --grey-light:hsl(0, 0%, 40%);
    --grey-lighter:hsl(0, 0%, 60%);
    --grey-lighter-plus:hsl(0, 0%, 80%);
    --white:hsl(0, 0%, 100%);
}

*{
    padding:0;
    margin:0;
}

a{
    text-decoration:none;
    color:inherit;
}

button, textarea, input{
    border-width:0;
    font-size:inherit;
    font-family:inherit;
}

button{
    background-color:transparent;
    cursor:pointer;
}

.main{
    display:grid;
    min-height:100vh;
    min-width:400px;
    grid-template-columns:minmax(40px, auto) minmax(320px, 900px) minmax(40px, auto);
    grid-template-rows:80px auto max-content;
}

.main > *{
    display:grid;
    grid-column:1/-1;
    grid-template-columns:subgrid;
}

.body > *{
    grid-auto-rows:max-content;
    display:grid;
    grid-column:1/-1;
    grid-template-columns:subgrid;
}

