/* -------------------- expertise section --------------------- */
.expertise-section{
    padding-block:40px;
}

.expertise-body{
    grid-column:2/3;
    display:flex;
    flex-direction:column;
    gap:40px;
}

.expertise-body > span{
    font-size:3rem;
    color:var(--grey);
    text-align:center;
}

.expertise-list{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    background-color:var(--grey);
    border-radius:10px;
}

.expertise-item{
    display:flex;
    flex-direction:column;
    gap:30px;
    padding:20px;
}

.expertise-item > span{
    font-size:1.5rem;
    color:var(--grey-lighter);
    line-height:1.6;
}

.expertise-item > p{
    line-height:1.6;
    font-size:1.1rem;
    color:var(--grey-light);
}

.expertise-item > a{
    padding:10px;
    border-radius:3px;
    background-color:var(--grey-light);
    color:var(--grey-lighter-plus);
    align-self:start;
}

@media(max-width:800px){

    .expertise-list{
        grid-template-columns:auto;
    }

    .expertise-item:not(:last-child){
        border-bottom:1px solid var(--grey-light);
    }

}



