@import url("./util.css");

@import url("./header.css");

@import url("./homeHeroSection.css");

@import url("./footer.css");

@import url("./expertiseSection.css");

@import url("./industrySection.css");

@import url("./statisticSection.css");

@import url("./workSection.css");

@import url("./testimonialSection.css");

@import url("./blogSection.css");

