/* -------------------- statistic section --------------------- */
.statistic-section{
    padding-block:40px;
    background-color:var(--grey);
}

.statistic-body{
    grid-column:2/3;
    display:flex;
    flex-direction:column;
    gap:30px;
}

.statistic-body > span{
    font-size:3rem;
    color:var(--white);
    padding:10px;
    text-align:center;
}

.statistic-list{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
    gap:20px;
}

.statistic-item{
    display:flex;
    flex-direction:column;
    padding:20px;
    background-color:var(--grey-light);
    border-radius:10px;
    height:300px;
    gap:15px;
}

.statistic-item > span:first-of-type{
    font-size:1.5rem;
    color:var(--grey-lighter-plus);
}

.statistic-item > p{
    color:var(--grey);
    line-height:1.6;
    font-size:1.1rem;
    flex-grow:1;
}

.statistic-item > span:last-of-type{
    font-size:3rem;
    color:var(--white);
}



