/* -------------------- testimonial section --------------------- */
.testimonial-section{
    padding-block:40px;
}

.testimonial-body{
    grid-column:2/3;
    display:flex;
    flex-direction:column;
    gap:30px;
}

.testimonial-body > span{
    font-size:3rem;
    color:var(--grey-light);
}

.testimonial-list{
    display:grid;
    grid-template-columns:auto;
    overflow:hidden;
}

.testimonial-item{
    grid-column:1/2;
    grid-row:1/2;
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:20px;
    border-radius:10px;
    border:1px solid var(--grey);
    background-color:var(--grey-light);
    position:relative;
    margin-inline:20px;
    min-height:250px;
}

.testimonial-item > p{
    font-size:1.3rem;
    color:var(--grey);
    line-height:1.6;
    flex-grow:1;
}

.testimonial-item > span:first-of-type{
    font-size:1.1rem;
    color:var(--grey-lighter);
}

.testimonial-item > span:last-of-type{
    color:var(--white);
}

.testimonial-control{
    display:flex;
    gap:20px;
    align-self:center;
}

.testimonial-control > button{
    height:10px;
    width:10px;
    border-radius:100%;
    background-color:var(--grey-lighter);
}

.testimonial-control > button[selected]{
    background-color:var(--grey);
}

