@import url("./util.css");

@import url("./header.css");

@import url("./footer.css");

@import url("./propertySection.css");

@import url("./ctaSection.css");

@import url("./aboutSection.css");

@import url("./gitSection.css");

@import url("./pageHeroSection.css");

