/* ---------------------- agent section ------------------------ */
.agent-section{
    padding-block:40px;
}

.agent-header{
    grid-column:1/-1;
    height:200px;
    display:flex;
    align-items:center;
    padding-inline:40px;
    background-image:linear-gradient(to right, var(--primary) 70%, var(--white) 30%);
}

.agent-header > span{
    font-size:2.5rem;
    color:var(--primary-light);
}

.agent-body{
    grid-column:1/-1;
    display:grid;
    grid-template-columns:subgrid;
     background-image:linear-gradient(to right, var(--primary) 70%, var(--white) 30%);
}

.agent-list{
    grid-column:2/3;
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
    gap:20px;
}

.agent-item{
    display:flex;
    flex-direction:column;
}

.agent-item:hover img{
    transform:scale(1.5);
}

.agent-item-header{
    position:relative;
    aspect-ratio:3/2;
    overflow:hidden;
}

.agent-item-header > img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    transition:transform 1s;
}

.agent-item-body{
    padding:20px;
    background-color:var(--grey-light);
    text-align:center;
}

.agent-item-body > span{
    color:var(--grey-lighter);
    font-size:1.1rem;
}

