/* ---------------------- category section ------------------------ */
.category-section{
    padding-block:40px;
    background-color:var(--grey);
}

.category-body{
    grid-column:2/3;
    display:flex;
    flex-direction:column;
    gap:40px;
}

.category-body > span{
    font-size:2.5rem;
    color:var(--grey-lighter);
    text-align:center;
}

.category-list{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
    gap:20px;
}

.category-item{
    position:relative;
    aspect-ratio:3/2;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:var(--primary-light);
    box-shadow:2px 2px 5px;
}

.category-item:hover .category-item-body{
    top:calc(100% + 10px);
    opacity:1;
}

.category-item > span{
    font-size:2rem;
    color:var(--white);
}

.category-item-body{
    position:absolute;
    background-color:var(--grey-lighter);
    padding:20px;
    opacity:0;
    box-sizing:border-box;
    top:50%;
    left:0;
    width:100%;
    transition:all 0.5s;
    z-index:1;
    box-shadow:2px 2px 5px;
}

.category-item-body > p{
    line-height:1.6;
    color:var(--grey);
    text-align:center;
}



