/* ---------------------- cta section ------------------------ */

.cta-section{
    padding-block:40px;
    position:relative;
    height:400px;
}

.cta-section > img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.cta-section > div:first-of-type{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
}

.cta-body{
    grid-column:2/3;
    display:flex;
    flex-direction:column;
    gap:40px;
    justify-content:center;
    align-items:center;
    z-index:1;
}

.cta-body > span{
    font-size:3rem;
    color:var(--white);
    text-align:center;
}

.cta-body > p{
    font-size:1.1rem;
    color:var(--primary-light);
    text-align:center;
    max-width:600px;
    line-height:1.6;
}

