/* ---------------------- home hero section ------------------------ */
.home-hero-section{
    position:relative;
    height:400px;
    z-index:1;
}

.home-hero-section > img{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    top:0;
    left:0;
}

.home-hero-section > div:first-of-type{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.6);
}

.home-hero-body{
    grid-column:2/3;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    z-index:1;
}

.home-hero-body > span{
    font-size:3rem;
    color:var(--grey);
    text-align:center;
    font-weight:bold;
}

.home-hero-body > p{
    font-size:1.1rem;
    line-height:1.6;
    text-align:center;
    color:var(--grey-light);
    max-width:600px;
}

.home-hero-body > a{
    padding:15px;
    background-color:var(--primary);
    color:var(--primary-lighter-plus);
}