/* ---------------------- property section ------------------------ */
.property-section{
    padding-block:40px;
}

.property-section input{
    display:none;
}

.property-body{
    grid-column:2/3;
    display:flex;
    flex-direction:column;
    gap:40px;
}

.property-body > span{
    font-size:2.5rem;
    color:var(--primary-light);
    text-align:center;
}

.property-item-header{
    position:relative;
}

.property-item-header img{
    position:absolute;
    top:0;
    left:0;
    object-fit:cover;
    width:100%;
    height:100%;
}

.property-item-body{
    display:flex;
    flex-direction:column;
    gap:20px;
    background-color:var(--grey);
    padding:20px;
}

.property-item-body > span:first-child{
    font-size:1.5rem;
    color:var(--grey-lighter-plus);
    padding-block:10px;
    border-bottom:1px solid var(--primary);
}

.property-item-body > span:nth-child(2){
    font-size:1.1rem;
    color:var(--grey-light);
}

.property-item-body > span:last-child{
    color:var(--primary-lighter-plus);
    background-color:var(--primary);
    padding:10px;
    align-self:start;
}


@media(max-width:850px){

    .property-item{
        display:flex;
        gap:20px;
        flex-direction:column;
    }

    .property-item-header{
        aspect-ratio:3/2;
    }

    .property-list{
        display:grid;
        grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
        gap:20px;
    }

}


@media(min-width:851px){

    .property-list{
        display:grid;
        grid-template-columns:300px auto;
        gap:20px;
    }
    
    .property-item{
        display:contents;
    }
    
    .property-item input:checked ~ .property-item-body{
        background-color:var(--primary-light);
    }
    
    .property-item input:checked ~ .property-item-header{
        opacity:1;
    }
    
    .property-item-body{
        grid-column:1/2;
        transition:background-color 1s;
        cursor:pointer;
    }
    
    .property-item-header{
        grid-column:2/3;
        grid-row:1/5; /* manually upadate when the number of item changes*/
        height:400px;
        position:sticky;
        top:80px;
        opacity:0;
        transition:opacity 1s;
    }
}


