/* ---------------------- testimonial section ------------------------ */
.testimonial-section{
    padding-block:40px;
}

.testimonial-body{
    grid-column:2/3;
    display:flex;
    gap:40px;
    flex-direction:column;
}

.testimonial-body > span{
    font-size:2.5rem;
    text-align:center;
    color:var(--primary-light);
}

.testimonial-item-header{
    display:grid;
    grid-template-columns:max-content auto;
    grid-template-rows:max-content max-content;
    gap:15px;
}

.testimonial-item-header > span:first-of-type{
    grid-column:2/3;
    font-size:1.5rem;
    color:var(--grey);
    grid-row:1/2;
}

.testimonial-item-header > span:last-of-type{
    color:var(--primary-light);
    grid-column:2/3;
    grid-row:2/3;
}

.testimonial-item-image{
    position:relative;
    height:60px;
    width:60px;
    grid-column:1/2;
    grid-row:1/-1;
    border-radius:100%;
    overflow:hidden;
}

.testimonial-item-image > img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.testimonial-item-body, .testimonial-placeholder{
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:var(--white);
}

.testimonial-item-body > p, .testimonial-placeholder > p{
    text-align:center;
    line-height:1.6;
    color:var(--grey-lighter);
    max-width:500px;
    font-size:1.1rem;
}


@media(max-width:950px){

    .testimonial-placeholder{
        display:none;
    }

    .testimonial-list{
        display:grid;
        grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
        gap:20px;
    }

    .testimonial-item{
        display:flex;
        flex-direction:column;
        gap:15px;
    }

    .testimonial-item-body{
        background-color:var(--grey-light);
        box-shadow:2px 2px 5px;
    }

    .testimonial-item-header{
        align-self:center;
    }
}



@media(min-width:951px){

    .testimonial-list{
        display:grid;
        grid-template-rows:max-content max-content;
    }
    
    .testimonial-item{
        display:contents;
    }
    
    .testimonial-item:hover > .testimonial-item-body{
        opacity:1;
        z-index:1;
    }
    
    .testimonial-item-body, .testimonial-placeholder{
        grid-row:2/3;
        grid-column:1/5;
        z-index:0;
    }
    
    .testimonial-item-header{
        grid-row:1/2;
    }
    
    .testimonial-item-body{
        opacity:0;
        transition:opacity 1s;
    }
}





