/* ---------------------- header ------------------------ */
.header{
    background-color:var(--grey);
    position:sticky;
    top:0;
    left:0;
    z-index:2;
}

.header-body{
    grid-column:2/3;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* brand name */
.header-body > a{
    font-size:2.5rem;
    color:var(--white);
}

/* open nav button */
.header-body > button:first-of-type{
    display:none;
}

/* close nav button */
.header-body > button:last-of-type{
    display:none;
}

.nav{
    display:contents;
}

/* cta button */
.nav > a{
    background-color:var(--primary-lighter-plus);
    padding:15px;
    color:var(--primary);
}

.nav-body{
    display:flex;
    gap:20px;
}

/* nav item */
.nav-body > a{
    font-size:1.1rem;
    color:var(--primary-lighter-plus);
}

.nav-body > a:hover{
    color:var(--primary);
}


@media(max-width:700px){

    /* close nav button */
    .header-body > button:last-of-type{
        font-size:1.5rem;
        color:var(--primary);
    }

    .header-body > button:last-of-type[open]{
        display:initial;
    }

    /* open nav button */
    .header-body > button:first-of-type{
        display:initial;
        font-size:1.5rem;
        color:var(--primary);
    }

    .header-body > button:first-of-type[open]{
        display:none;
    }

    .nav{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        position:absolute;
        top:-600px;
        opacity:0;
        left:0;
        width:100%;
        height:400px;
        background-color:var(--grey);
        transition:all 0.5s;
    }

    .nav[open]{
        top:100%;
        opacity:1;
    }

    .nav-body{
        flex-direction:column;
    }

    .nav-body > a{
        text-align:center;
    }
}

