@import url("./util.css");

@import url("./header.css");

@import url("./homeHeroSection.css");

@import url("./footer.css");

@import url("./categorySection.css");

@import url("./propertySection.css");

