/* -------------------------- contact section -------------------------- */

.contact-section{
    padding-block:40px;
    margin-block:40px;
    position:relative
}

.contact-section > img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.contact-section > div:first-of-type{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
}

.contact-form{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    grid-column:2/3;
    z-index:1;
    justify-self:center;
}

.contact-form > *:not(:first-child, :nth-child(2)){
    grid-column:1/-1;
}

.contact-form > input, .contact-form > textarea{
    padding:10px;
    border-radius:5px;
    border:1px solid var(--primary);
    color:var(--primary-lighter)
}

.contact-form > textarea{
    height:150px;
}

.contact-form > input::placeholder, .contact-form > textarea::placeholder{
    color:var(--primary-lighter);
}

.contact-form > button{
    padding:15px;
    border-radius:5px;
    background-color:var(--primary);
    color:var(--primary-lighter);
    justify-self:start;
}

@media(max-width:600px){

    .contact-form > *{
        grid-column:1/-1;
    }
}



