/* -------------------------- page hero -------------------------- */

.page-hero-section{
    padding-block:40px;
}

.page-hero-body{
    grid-column:2/3;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    grid-auto-rows:max-content;
}

.page-hero-body > *:not(:first-child, :nth-child(2)){
    grid-column:1/-1;
}

.page-hero-body > span{
    font-size:3rem;
    color:var(--primary);
}

.page-hero-body > p{
    line-height:1.6;
    font-size:1.1rem;
    color:var(--primary-lighter);
}

.page-hero-image{
    position:relative;
    aspect-ratio:3/2;
    border-radius:10px;
    overflow:hidden;
}

.page-hero-image > img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

@media(max-width:700px){

    .page-hero-body > *{
        grid-column:1/-1;
    }
}

