/* -------------------------- process -------------------------- */
.process-section{
    padding:40px;
    margin-block:40px;
    background-color:var(--primary);
}

.process-body{
    grid-column:2/3;
    display:flex;
    flex-direction:column;
    gap:30px;
}

.process-body > span{
    font-size:3rem;
    color:var(--primary-light);
}

.process-list{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
    gap:20px;
}

.process-item{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.process-item > span{
    font-size:1.5rem;
    color:var(--primary-lighter-plus);
    padding-block:10px;
    border-bottom:1px solid var(--primary-lighter-plus);
}

.process-item > p{
    font-size:1.1rem;
    color:var(--white);
    line-height:1.6;
}
