/* -------------------- contact section --------------------- */

.contact-section{
    padding:40px;
}

.contact-body{
    grid-column:2/3;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
}

.contact-image{
    position:relative;
    border-radius:10px;
    overflow:hidden;
}

.contact-image > img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.contact-form{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    background-color:var(--grey);
    padding:20px;
    border-radius:10px;
}

.contact-form > *:not(:first-child, :nth-child(2)){
    grid-column:1/-1;
}

.contact-form > input, .contact-form > textarea{
    padding:10px;
    border-radius:5px;
    background-color:var(--grey-light);
    color:var(--white);
}

.contact-form > input::placeholder, .contact-form > textarea::placeholder{
    color:var(--white);
}

.contact-form > textarea{
    height:150px;
}

.contact-form > button{
    padding:10px;
    background-color:var(--white);
    color:var(--grey-light);
    border-radius:3px;
}



@media(max-width:900px){

    .contact-body{
        grid-template-columns:auto;
    } 

    .contact-image{
        aspect-ratio:3/2;
    }
}

@media(max-width:700px){

    .contact-form > *{
        grid-column:1/-1;
    }
}

