/* -------------------- industry section --------------------- */

@keyframes anim-1 {
    
    0%{
        left:0%;
    }

    100%{
        left:-100%;
    }
}

@keyframes anim-2 {
    
    0%{
        left:100%;
    }

    100%{
        left:0%;
    }
}


.industry-section{
    padding-block:40px;
}

.industry-body{
    grid-column:2/3;
    display:grid;
    grid-template-columns:auto;
    background-color:var(--grey);
    border-radius:10px;
    padding:20px;
    height:400px;
}

.industry-body > span{
    font-size:3rem;
    color:var(--grey-lighter-plus);
}

.industry-wrapper{
    display:grid;
    grid-template-columns:auto;
    align-self:end;
    overflow:hidden;
}

.industry-list{
    grid-column:1/2;
    grid-row:1/2;
    width:max-content;
    position:relative;
}

.industry-list:last-child{
    left:100%;
    animation-duration:15s;
    animation-name:anim-2;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.industry-list:first-child{
    left:0%;
    animation-duration:15s;
    animation-name:anim-1;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.industry-item-wrapper{
    display:inline-block;
}

.industry-item{
    width:450px;
    display:grid;
    grid-template-columns:200px auto;
    grid-template-rows:max-content max-content;
    gap:20px;
}

.industry-item-image{
    position:relative;
    grid-column:1/2;
    grid-row:1/-1;
    border-radius:10px;
    overflow:hidden;
}

.industry-item-image > img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.industry-item > span{
    font-size:1.5rem;
    color:var(--grey-lighter-plus);
    line-height:1.6;
    grid-column:2/3;
    grid-row:1/2;
}

.industry-item > p{
    line-height:1.6;
    color:var(--grey-light);
    font-size:1.1rem;
    grid-column:2/3;
    grid-row:2/3;
}

