

/* ------------------------ colors ------------------------ */
:root{
    --primary:hsl(39, 100%, 20%);
    --primary-light:hsl(39, 100%, 40%);
    --primary-lighter:hsl(39, 100%, 60%);
    --primary-lighter-plus:hsl(39, 100%, 80%);
    --black:hsl(0, 0%, 0%);
    --grey:hsl(0, 0%, 20%);
    --grey-light:hsl(0, 0%, 40%);
    --grey-lighter:hsl(0, 0%, 60%);
    --grey-lighter-plus:hsl(0, 0%, 80%);
    --white:hsl(0, 0%, 100%);
}

/* ------------------------ global style ------------------------ */
*{
    padding:0;
    margin:0;
}

a{
    text-decoration:none;
    color:inherit;
}

img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

input, textarea, button{
    border-width:0;
    font-family:inherit;
    font-size:inherit;
}

button{
    background-color:transparent;
    cursor:pointer;
}

.root{
    display:grid;
    min-height:100vh;
    min-width:400px;
    grid-template-columns:minmax(40px, auto) minmax(320px, 900px) minmax(40px, auto);
    grid-template-rows:max-content auto max-content;
}

.root > *{
    grid-column:1/-1;
    display:grid;
    grid-template-columns:subgrid;
}

.main{
    grid-auto-rows:max-content;
}

.main > *{
    grid-column:1/-1;
    display:grid;
    grid-template-columns:subgrid;
}

/* ------------------------ header ------------------------ */
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
    display:grid;
    grid-template-columns:minmax(40px, auto) minmax(320px, 900px) minmax(40px, auto);
    z-index:2;
    transition:background-color 0.5s;
}

.header[scroll]{
    background-color:var(--primary-lighter);
}

/* full screen overlay */
.header > div:first-child{
    display:none;
}

.header-content{
    grid-column:2/3;
    display:flex;
    gap:40px;
    align-items:center;
}

/* site name */
.header-content > a{
    font-size:2rem;
    color:var(--primary);
}

/* open menu button */
.header-content > button{
    display:none;
}

.menu-wrapper{
    display:contents;
}

/* close menu button */
.menu-wrapper > button{
    display:none;
}

.menu{
    display:flex;
    gap:20px;
}

/* menu item */
.menu > a{
    color:var(--white);
    font-size:1.1rem;
}
.menu > a:hover{
    color:var(--primary);
}
.menu > a[selected]{
    color:var(--primary);
}

@media(max-width:700px){

    .header-content{
        justify-content:space-between;
    }

    /* full screen overlay */
    .header > div:first-child{
        position:fixed;
        width:100%;
        height:100vh;
        background-color:rgba(0,0,0,0.7);
        top:0;
        left:0;
        z-index:1;
    }
    .header > div:first-child[open]{
        display:initial;
    }

    .menu-wrapper{
        display:flex;
        flex-direction:column;
        gap:10px;
        position:fixed;
        width:300px;
        top:0;
        left:-300px;
        background-color:var(--primary-lighter);
        height:100vh;
        padding:15px;
        box-sizing:border-box;
        z-index:2;
        transition:left 0.5s;
    }
    .menu-wrapper[open]{
        left:0;
    }

    .menu{
        flex-direction:column;
        align-items:center;
    }

    /* close menu button */
    .menu-wrapper > button{
        display:initial;
        align-self:end;
        color:var(--white);
        font-size:1.5rem;
    }

    /* open menu button */
    .header-content > button{
        display:initial;
        color:var(--white);
        font-size:1.5rem;
    }
}

/* ------------------------ home hero ------------------------ */
.home-hero{
    height:500px;
    z-index:1;
    position:relative;
}

/* background image */
.home-hero > img{
    z-index:1;
}

/* overlay */
.home-hero > div:first-of-type{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%; 
    background-color:rgba(0,0,0,0.7);
    z-index:2;
}

.home-hero-content{
    grid-column:2/3;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:30px;
    z-index:3;
    max-width:600px;
}

/* site name */
.home-hero-content > span{
    font-size:3rem;
    color:var(--white);
}

/* tag line */
.home-hero-content > p{
    font-size:1.1rem;
    color:var(--primary-lighter-plus);
    line-height:1.6;
}

/* action button */
.home-hero-content > a{
    align-self:start;
    padding:15px;
    background-color:var(--primary);
    color:var(--white);
}

/* ------------------------ footer ------------------------ */
.footer{
    padding-block:40px;
    background-color:var(--black);
    z-index:1;
}

.footer-content{
    grid-column:2/3;
    display:flex;
    flex-direction:column;
    gap:30px;
}

.footer-contact{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
}

.footer-contact-item{
    display:flex;
    flex-direction:column;
    gap:20px;
    align-items:center;
}

.footer-contact-item > *:first-child{
    font-size:1.5rem;
    color:var(--primary-light);
    font-weight:bold;
}

.footer-contact-item > *:last-child{
    color:var(--white);
    line-height:1.6;
}

.newsletter{
    position:relative;
}

.newsletter > img{
    z-index:1;
}

.newsletter > div:first-of-type{
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%; 
    background-color:rgba(0,0,0,0.7);
}

.newsletter-content{
    z-index:3;
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:30px;
    position:relative;
}

.newsletter-content > span:first-of-type{
    font-size:1.5rem;
    color:var(--white);
    line-height:1.6;
}

.newsletter-content > span:last-of-type{
   font-size:1.1rem;
   color:var(--primary-lighter-plus);
   line-height:1.6;
}

.newsletter-form{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.newsletter-form > input{
    padding:15px;
    color:var(--grey-light);
}

.newsletter-form > input::placeholder{
    color:var(--grey-light);
}

.newsletter-form > button{
    padding:15px;
    background-color:var(--primary);
    color:var(--primary-lighter-plus);
}

.social{
    display:flex;
    gap:30px;
    justify-content:center;
}

.social > *{
    font-size:1.5rem;
    color:var(--primary-light);
}

@media(max-width:700px){

    .footer-contact{
        grid-template-columns:auto;
        gap:30px;
    }
}





