/* ------------------------ trainers ------------------------ */
.trainers{
    padding-block:40px;
}

.trainers-content{
    grid-column:2/3;
    display:flex;
    flex-direction:column;
    gap:40px;
}

.trainer-list{
    display:grid;
    grid-template-columns:auto;
}

.trainer-item{
    grid-column:1/-1;
    grid-row:1/2;
    display:grid;
    grid-template-columns:400px auto;
    gap:20px;
    opacity:0;
    transition:opacity 2s;
}

.trainer-item[selected]{
    opacity:1;
}

.trainer-image-wrapper{
    position:relative;
    aspect-ratio:4/5;
}

.trainer-item-content{
    display:flex;
    flex-direction:column;
}

.trainer-item-header{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:80px;
    background-color:var(--primary-lighter-plus);
    padding:10px;
    box-sizing:border-box;
}

.trainer-item-header > span:first-child{
    font-size:1.5rem;
    color:var(--primary);
    font-weight:bold;
}

.trainer-item-header > span:last-child{
    font-size:1.1rem;
    color:var(--primary-light);
}

.trainer-item-body > p{
    line-height:1.6;
    font-size:1.1rem;
    color:var(--grey-light);
    padding:10px;
}

.trainer-selector{
    display:flex;
    gap:20px;
    justify-content:center;
}

.trainer-selector > button{
    height:10px;
    width:10px;
    border-radius:100%;
    background-color:var(--primary-lighter);
}

.trainer-selector > button[selected]{
    background-color:var(--primary);
}

@media(max-width:850px){

    .trainer-image-wrapper{
        display:contents;
    }

    .trainer-item{
        position:relative;
        height:400px;
        grid-template-columns:auto;
        gap:initial;
        overflow:hidden;
    }

    .trainer-item:hover .trainer-item-content{
        top:0;
    }

    .trainer-item-content{
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:calc(100% - 80px);
        transition:top 0.5s;
    }
    
    .trainer-item-body{
        background-color:rgba(255,255,255,0.8);
        flex-grow:1;
    }

}

